<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.login">

    <!-- Permissions for Bluetooth and Location -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Dark"
        tools:targetApi="31">

        <!-- File Provider for Sharing Files -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- Splash Screen Activity (Launcher) -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.Material3.Dark.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".Login"
            android:theme="@style/Theme.Material3.Dark.NoActionBar"
            android:exported="true" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Material3.Dark.NoActionBar"
            android:exported="true" />

        <!-- Other Activities in the Application -->
        <activity
            android:name=".Registration"
            android:theme="@style/Theme.Material3.Dark.NoActionBar"
            android:exported="true" />

        <activity
            android:name=".HelloWorldActivity"
            android:theme="@style/Theme.Material3.Dark.NoActionBar"
            android:exported="true" />

        <activity
            android:name=".CalculatorActivity"
            android:theme="@style/Theme.Material3.Dark.NoActionBar"
            android:exported="true" />

        <activity
            android:name=".FlagActivity"
            android:theme="@style/Theme.Material3.Dark.NoActionBar"
            android:exported="true" />

        <activity
            android:name=".CountryActivity"
            android:theme="@style/Theme.Material3.Dark.NoActionBar"
            android:exported="true" />

        <activity
            android:name=".InfraredCommunicationActivity"
            android:theme="@style/Theme.Material3.Dark.NoActionBar"
            android:exported="true" />

        <activity
            android:name=".BluetoothFileTransferActivity"
            android:theme="@style/Theme.Material3.Dark.NoActionBar"
            android:exported="true" />

        <activity
            android:name=".BluetoothDeviceWirelessTransferActivity"
            android:theme="@style/Theme.Material3.Dark.NoActionBar"
            android:exported="true" />

    </application>
</manifest>
